@font-face {
    font-family: "TTLakes_medium";
    src: url('fonts/TTLakes/TTLakes-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TTLakes_bold";
    src: url('fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TTLakes_demibold";
    src: url('fonts/TTLakes/TTLakes-DemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*-------------------page----*/
body {
    margin: 0;
    width: 320px;
}

.header {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.button-CPS {
    margin-right: auto;
}

/*--------------------------------header panel*/
.header_navigation-menu {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center; 
}

.hover-button-fx:hover {
    border-radius: 6px;
    background-color: #eeeeee;
    cursor: pointer;
}

.button-menu {
    margin-right: 16px;
}

.dividerTwo {
    margin-left: auto;
    margin-right: 20px;
}

.button-setting {
    margin-right: 16px;
}

/*-----------------------------------------post*/
.main {
    width: 100vw;
    min-height: auto;
}

.mainpost {
    background-color: #f8f8f8;
    height: 100vh;
}

.mainpost_post-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post-title_img {
    background-image: url("img/post/highlight.png");
    width: 4px;
    height: 40px;
    margin-right: 12px;
}

.post-title_title {
    font-family: "TTLakes_bold", sans-serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}

/*----------------------------------------scrollpanel*/
.mainpost_nav-menu {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    overflow: hidden;

    overflow-y: hidden;
}

.nav-menu_title {
    display: flex;
    column-gap: 20px;

    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;

    flex-wrap: nowrap;
    overflow-x: auto;
}

.slidemargin {
    margin: 0;
}

.slide {
    background-color: #f8f8f8;
    border: 2px solid transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.slidetitle {
    font-family: "TTLakes_medium", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
}

.slide-zero:focus {
    border: 2px solid #b8ffec;
    border-radius: 6px;
    background-color: #ffffff;
}

.slide:focus {
    border: 2px solid #b8ffec;
    border-radius: 6px;
    background-color: #ffffff;

}

.slide:hover {
    border-radius: 6px;
    background-color: #ffffff;
     
    cursor: pointer;
}

.notscrollvision::-webkit-scrollbar {
    display: none;
}

/* разделитель между кнопками
.slide:not(:last-child) {
    border-right: 1px solid #eee;
*/

/*-----------------------------paragraf + image*/
.mainpost_paragraf {
    height: 15vh;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "TTLakes_medium", sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;

    overflow: hidden;
}

.mainpost_buttonRead {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 24px;
}
.mainpost_buttonRead-container {
    display: flex;
    margin: 0;
    padding: 0;
}

.buttonRead_icon {
    background: #f8f8f8;
    
    margin-right: 16px;
}

.buttonRead_title {
    margin: 0;
    background: #f8f8f8;
    font-family: "TTLakes_demibold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.mainpost_image {
    padding-top: 16px;
    margin-bottom: 16px;
}

/*----------------------320---------------------------------------------------------------------*/
@media screen and (min-width: 320px) and (max-width: 767px) {
    .md_resolution {
        display: none;
    }

    .notmd-resolution {
        display: none
    };
}

/*---------------------768----------------------------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1119px) {
   .body {
    margin: 0;
    width: 768px;
    }

    .header_navigation-menu {
        background-color: #ffffff;
        display: flex;
        align-items: center; 
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 24px;
        padding-right: 24px;
    } 

    .md_resolution {
        display: block;
    }

    .notmd-resolution {
        display: none;
    }
    .button-menu {
        margin-right: 20px;
    }
    .button-CPS {
        margin-left: 20px;
        margin-right: auto;
    }
    .button-kontakt {
        margin-left: 16px;
    }    
    .button-message {
        margin-left: 16px;
    }
    .button-call {
        margin-left: 16px;
    }

    .dividerTwo {
        margin-left: 20px;
    }
    .button-setting {
        margin-left: 0;
    }
    .button-search {
        margin-left: 16px;
    }
    .post-title_img {
        width: 4px;
        height: 40px;
        margin-right: 20px;
    }
    .mainpost_nav-menu {
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 12px;
        overflow: hidden;
    
        overflow-y: hidden;
        
    }
    .mainpost_container {
        display: flex;
        margin-right: 24px;
        justify-content: space-between;
    }
    .container_p-button {
        display: flex;
        flex-direction: column;
        margin-left: 24px;
        margin-right: 20px;
        margin-bottom: 0;
        padding-bottom: 0;
        
    }
    .mainpost_paragraf {
        width: 40vw;
        height: 160px;
        padding-left: 0;
            
        font-family: "TTLakes_medium", sans-serif;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #1B1C21;
    
        overflow: hidden;
    }
    .mainpost_buttonRead {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 0;

        height: 24px;
    }
    .mainpost_image {
        width: 360px;
        height: 208px;
        padding-top: 14px;
        margin-bottom: 32px;
        border-radius: 6px;
    }
}

/*---------------------1120---------------------------------------------------------------------*/
@media screen and (min-width: 1120px) {
   .body {
    margin: 0;
    width: 1120px;  
    max-width: 1280px;  
    }

    .header_navigation-menu {
        background-color: #ffffff;
        display: flex;
        align-items: center; 
        padding: 0;
    }

    .md_resolution {
        display: block;
    }
    
    .notmd-resolution {
        display: block;
    }
    
    .hd_resolution {
        display: none;
    }

    .button-menu {
        padding-top: 24px;
        padding-left: 24px;
        padding-bottom: 24px;
        margin-right: 20px;
    }
    
    .button-CPS {
        margin-left: 20px;
        margin-right: auto;
    }
    
    .button-kontakt {
        margin-left: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
    }   
    
    .button-message {
        margin-left: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .button-call {
        margin-left: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .dividerTwo {
        margin-left: 20px;
    }

    .button-setting {
        padding-top: 24px;
        padding-bottom: 24px;
        margin-left: 20px;
    }

    .button-search {
        padding-top: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
        margin-left: 16px;
    }

    .mainpost {
        max-width: 1280px;
    }

    .mainpost_panel {
        display: flex;
        align-items: center;
        padding-top: 42px;

        max-width: 1280px;
    }

/*Услуги и сервисы*/
.mainpost_post-title {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.post-title_img {
    width: 4px;
    height: 40px;
    margin-right: 30px;
}

.post-title_title {
    font-family: "TTLakes_bold", sans-serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    margin: 0;
    white-space: nowrap;
}

/*container1*/
.post-title_containersetting {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
    margin-right: 32px;
}
.containersetting_title {
    font-family: "TTLakes_demibold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    white-space: nowrap;
}

/*container2*/
.post-title_containersearch {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
    margin-right: 32px;
}

.containersearch_title {
    font-family: "TTLakes_demibold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    white-space: nowrap;
}

.mainpost_nav-menu {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
        
    overflow-y: hidden;
    max-width: 1280px;
}

.nav-menu_title {
    display: flex;
    gap: 20px;

    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    
    flex-wrap: wrap;
    overflow-x: auto;
}

.slide-zero {
    padding-left: 18px;
}

.slide-five {
    padding-left: 18px;
}

.slide-six {
    margin-right: auto;
}

.main {
    max-width: 1280px;
}

.mainpost_container {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
    
    max-width: 1280px;
}

.container_p-button {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
    
}

.mainpost_paragraf {
    max-width: 660px;
    height: 160px;
    margin-top: 16px;
    padding-left: 0;
    
    font-family: "TTLakes_medium", sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21;

    overflow: hidden;
}

.mainpost_buttonRead {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0;

    height: 24px;
}

.mainpost_image {
    width: 530px;
    height: 331px;
    padding-top: 12px;
    margin-bottom: 32px;
    border-radius: 6px;
}
}

/*-----------------------------------------------------------------------*/
@media screen and (min-width: 320px) and (max-width: 767px) {

}
@media screen and (min-width: 768px) and (max-width: 1119px) {

}
@media screen and (min-width: 1120px) and (max-width: 1920px) {

}